.App {
  margin-top: 3%;
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
}

.ReactModal {
  background-color: white;
  width: 300px;
  margin: auto;
  border-radius: 10%;
}

.btn {
  margin: 2%
}

.btn-danger {
  font-size: 150%
}

.instrumentTitle {
  color: #cd6E1B;
  padding: 5%
}

.image {
  size: 100%
}

.instrumentCard {
  background-color: white;
  width: 300px;
  margin: auto;
  border-radius: 10%;
}

.startMsg{
  color: #c82333;
  padding: 4%
}

.buttonCont {
  padding: 3%
}

.infoCont {
  margin: 2%
}

.List {
  padding-top: 2%
}

.table {
  color:black;
  background-color: white;
  max-width: 300px;
  margin:auto;
}

.borderless td, .borderless th {
  border: none;
}

.listImg {
  max-width: 50%;
}

tr {
  display: flex;
  align-items: baseline;
}
